<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guli.mapper.GuliAccomplishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guli.pojo.GuliAccomplish">
        <id column="accomplish_id" property="accomplishId" />
        <result column="catalogue_id" property="catalogueId" />
        <result column="user_id" property="userId" />
        <result column="accomplish_learning_trogress" property="accomplishLearningTrogress" />
        <result column="accomplish_learning_time" property="accomplishLearningTime" />
        <result column="user_name" property="userName" />
        <result column="catalogue_name" property="catalogueName" />
    </resultMap>

</mapper>
